/* styles.css */
body {
    font-family: 'Times New Roman';
    margin: 20px;
    background-color:beige;
}

h1 {
    color: #47c5aa;
    text-align: center;
}

h2 {
    color: #0f5747;
    font-size: 28px;
    text-align: left;
    margin-right: 500px;
    margin-top: 40px;
}
img {
    margin-left: 1400px;
    margin-bottom: -345px;
    width: 350px;
}
h4 {
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

